<mat-card class="header"><button mat-flat-button color="primary" (click)="backtologin()">back to login</button>
  <button mat-flat-button color="primary" (click)="gotoregistration()" class="rgbutton">go to registration</button>
  <h1 style="    text-align: -webkit-center; background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
    Welcome to profile page
  </h1>
</mat-card>
<div class="matTab">
  <table class="matTab">
    <tr class="head">
      <td>Name<mat-divider></mat-divider>
      </td>
      <td>DateofBirth <mat-divider></mat-divider>
      </td>
      <td>Gender <mat-divider></mat-divider>
      </td>
      <td>MobileNumber <mat-divider></mat-divider>
      </td>
      <td>Email <mat-divider></mat-divider>
      </td>
      <td>profile <mat-divider></mat-divider>
      </td>
      <td>edit <mat-divider></mat-divider>
      </td>
      <td>delete <mat-divider></mat-divider>
      </td>
    </tr>
    <tr *ngIf="showData">
      <!-- <p>{{i|json}}</p> -->
      <td>{{dataSource.Name}}</td>
      <td>{{dataSource.DateofBirth}} </td>
      <td>{{dataSource.Gender}} </td>
      <td>{{dataSource.MobileNumber}} </td>
      <td>{{dataSource.Email}} </td>
      <td><img src="http://localhost:4000/Images/{{dataSource._id}}.png" /> </td>
      <td><button mat-flat-button color="primary" (click)="openDialog(dataSource._id)">EDIT </button></td>
      <td><button mat-flat-button color="warn" (click)="deletedata(dataSource._id)">DELETE </button></td>
    </tr>
  </table>
</div>
